---
layout: default
---

<div><a href='/' title='vegan tarifler'><img src='/assets/leaf.png' alt='vegan tarifler' style='width:50px; height:50px; display: inline-block;'></a></div>
<br />

{%-include post_list.html category=page.which_category-%}
<br />
<div>
  <a href='https://www.instagram.com/birveganivar/'target="_blank" rel="noreferrer,nofollow" title="instagram"><img src="https://raw.githubusercontent.com/baneteasnow/baneteasnow.github.io/c1adc9255194fedc1206bfbc28d0c739112c9f2f/assets/instagram.png" title="instagram" alt="instagram" style="width:20px; height:20px; display: inline-block; vertical-align: text-bottom;">&nbsp;</a>
</div>
<div>
  <img src="/assets/total.png" title="total number of posts" alt="total number of posts" style="width:20px; height:20px; display: inline-block; vertical-align: text-bottom;"> &nbsp; <i>{%-include numberofposts.html-%}</i>
</div>
