---
layout: default
published: true
---

<article>
	<dl>
		<dt>
			<div>
				<a
					href="/toc.html"
					title="vegan tarifler"
					><img
						src="/assets/leaf.png"
						title="vegan tarifler"
						alt="vegan recipes"
						style="
							width: 30px;
							height: 30px;
							display: inline-block;
							vertical-align: text-top;
						"
					/>
					<i>vegan tarifler</i></a
				>
			</div>
		</dt>
		<dd>
			<div>
				<a
					href="/search.html"
					title="ara"
					><img
						src="/assets/leaf.png"
						title="tarif ara"
						alt="ara"
						style="
							width: 30px;
							height: 30px;
							display: inline-block;
							vertical-align: text-top;
						"
					/>
					<i>tarif ara</i></a
				>
			</div>
		</dd>
		<dd>
			<div>
				<a
					href="/books.html"
					title="vegan kitaplar"
					><img
						src="/assets/leaf.png"
						title="vegan kitaplar"
						alt="vegan books"
						style="
							width: 30px;
							height: 30px;
							display: inline-block;
							vertical-align: text-top;
						"
					/>
					<i>veganlıkla ilgili kitaplar</i></a
				>
			</div>
		</dd>
	</dl>
	<dl>
		<div><a href="https://www.next52books.com">next52books.com</a></div>
	</dl>
	<dl>
		<div>
			<a href="https://homelibrary.next52books.com"
				>homelibrary.next52books.com</a
			>
		</div>
	</dl>
</article>
