---
layout: default
published: true
---
<article>
<i>
  <dl>
    <dt>Go Vegan</dt>
      <dd>For the animals, planet and people</dd>
      <dd>Compassion</dd>
      <dd>Nonviolence</dd>
  </dl>
</i>
<div>
 <a href='/archive.html' title="vegan tarifler"><img src="/assets/leaf.png" title="vegan tarifler" alt="vegan recipes" style="width:30px; height:30px; display: inline-block; vertical-align: text-top;"/> <i>tarifler</i></a>
</div>
  <div>
 <a href='/books.html' title="vegan kitaplar"><img src="/assets/leaf.png" title="vegan kitaplar" alt="vegan books" style="width:30px; height:30px; display: inline-block; vertical-align: text-top;"/> <i>veganlıkla ilgili kitaplar</i></a>
</div>
</article>
